/* ---------- Banner ---------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner {
    padding: var(--sectionPadding);
    padding-top: 15.625rem;
    padding-bottom: 7.5rem;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  #banner .fs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
  }

  #banner .fs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }

  #banner .fs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #banner .fs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #banner .fs-link:last-of-type {
    /* remove the chevron on the last list item */
  }

  #banner .fs-link:last-of-type::after {
    display: none;
  }

  #banner .fs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("./assets/images/icons/white-chev.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }

  #banner .fs-link.fs-active {
    color: var(--secondary);
  }

  #banner .fs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #banner .fs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left,
        rgba(26, 26, 26, 0.94) 0%,
        rgba(26, 26, 26, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left,
        rgba(26, 26, 26, 0.94) 0%,
        rgba(26, 26, 26, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #banner .fs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}

/* ----------  Side By Side ---------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  #RPsbs,
  #RPsbsr {
    padding: var(--sectionPadding);
    overflow: hidden;
  }

  #RPsbs .fs-container,
  #RPsbsr .fs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3rem, 4vw, 4rem);
  }

  #RPsbs .fs-content,
  #RPsbsr .fs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }

  #RPsbs .fs-text,
  #RPsbsr .fs-text {
    margin-bottom: 1rem;
  }

  #RPsbs .fs-text:last-of-type,
  #RPsbsr .fs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #RPsbs .fs-button-solid,
  #RPsbsr .fs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #1a1a1a;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }

  #RPsbs .fs-button-solid:before,
  #RPsbsr .fs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }

  #RPsbs .fs-button-solid:hover,
  #RPsbsr .fs-button-solid:hover {
    color: #fff;
  }

  #RPsbs .fs-button-solid:hover:before,
  #RPsbsr .fs-button-solid:hover:before {
    width: 100%;
  }

  #RPsbs .fs-ul,
  #RPsbsr .fs-ul {
    width: 100%;
    padding: 0;
    /* 32px - 48px */
    margin: clamp(2rem, 5vw, 3rem) 0 0 0;
    /* 32px - 48px */
    padding: clamp(2rem, 5vw, 3rem) 0 0 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
  }

  #RPsbs .fs-item,
  #RPsbsr .fs-item {
    list-style: none;
    width: 32%;
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }

  #RPsbs .fs-number,
  #RPsbsr .fs-number {
    font-size: 1.5625rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--primary);
    display: block;
    margin: 0 0 0.5rem 0;
  }

  #RPsbs .fs-h3,
  #RPsbsr .fs-h3 {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--bodyTextColor);
  }

  #RPsbs .fs-image-group,
  #RPsbsr .fs-image-group {
    width: 100%;
    max-width: 41.875rem;
    height: 100vw;
    max-height: 39.375rem;
    position: relative;
    display: block;
    z-index: 1;
  }

  #RPsbs .fs-picture,
  #RPsbsr .fs-picture {
    /* big background image */
    width: 93%;
    height: 93%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  #RPsbs .fs-picture img,
  #RPsbsr .fs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #RPsbs .fs-desc,
  #RPsbsr .fs-desc {
    /* 16px - 31px */
    font-size: clamp(1rem, 2.5vw, 1.9375rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    width: 100%;
    color: var(--bodyTextColorWhite);
    position: relative;
    z-index: 10;
  }

  #RPsbs .fs-graphic,
  #RPsbsr .fs-graphic {
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {

  #RPsbs .fs-container,
  #RPsbsr .fs-container {
    max-width: 80rem;
    /* set to horizontal arrangement */
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  #RPsbs .fs-content,
  #RPsbsr .fs-content {
    width: 48%;
    padding: 3rem 0;
    align-self: center;
    /* prevents flexbox from squishing it */
    flex: none;
  }

  #RPsbs .fs-image-group,
  #RPsbsr .fs-image-group {
    width: 55%;
    max-width: 41.875rem;
    min-height: 41.875rem;
    max-height: 100%;
    height: auto;
    margin: 0;
  }

  #RPsbs .fs-picture,
  #RPsbsr .fs-picture {
    width: 93%;
    height: 94%;
  }

  #RPsbs .fs-graphic,
  #RPsbsr .fs-graphic {
    max-width: 44.6875rem;
    left: auto;
    right: 8.125rem;
    transform: translateY(-50%);
  }
}

/* ----------  Side By Side Reverse ---------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr {
    background-color: #f7f7f7;
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbsr .fs-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
  }

  #RPsbsr .fs-picture {
    left: auto;
    right: 0;
  }
}