/* --------- Banner --------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner {
        padding: var(--sectionPadding);
        padding-top: 15.625rem;
        padding-bottom: 7.5rem;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    #banner .fs-container {
        text-align: center;
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 0.75rem;
    }

    #banner .fs-int-title {
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }

    #banner .fs-breadcrumbs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner .fs-link {
        font-size: 1rem;
        line-height: 1.2em;
        text-decoration: none;
        color: var(--bodyTextColorWhite);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner .fs-link:last-of-type::after {
        display: none;
    }

    #banner .fs-link:after {
        /* chevron */
        content: "";
        width: 0.4375rem;
        height: 0.75rem;
        margin: 0 1rem;
        background: url("./assets/images/icons/white-chev.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
    }

    #banner .fs-link.fs-active {
        color: var(--secondary);
    }

    #banner .fs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #banner .fs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: -moz-linear-gradient(left,
                rgba(26, 26, 26, 0.94) 0%,
                rgba(26, 26, 26, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left,
                rgba(26, 26, 26, 0.94) 0%,
                rgba(26, 26, 26, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        opacity: 1;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #banner .fs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}



/* ---------- Contact ---------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #ContactForm {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }

    #ContactForm .fs-container {
        width: 100%;
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3.25rem;
    }

    #ContactForm .fs-picture {
        width: 100%;
        max-width: 40.625rem;
        height: auto;
        aspect-ratio: 1.00516351;
        position: relative;
    }

    #ContactForm .fs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    #ContactForm .fs-content {
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #ContactForm .fs-form {
        /* 24px - 48px top and bottom */
        /* 20px - 32px left and right */
        padding: clamp(1.25rem, 4.18vw, 3rem) clamp(1.25rem, 4.18vw, 2rem);
        background-color: #f7f8f8;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.75rem;
    }

    #ContactForm .fs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }

    #ContactForm .fs-input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #fff;
        border: none;
        box-sizing: border-box;
    }

    #ContactForm .fs-input::placeholder {
        color: #7d799c;
        opacity: 0.6;
    }

    #ContactForm .fs-textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
    }

    #ContactForm .fs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        border: none;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        transition: color 0.3s;
    }

    #ContactForm .fs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }

    #ContactForm .fs-button-solid:hover {
        color: #fff;
    }

    #ContactForm .fs-button-solid:hover:before {
        width: 100%;
    }

    #ContactForm .fs-submit {
        min-width: 17.6875rem;
        border-radius: 0;
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #ContactForm .fs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 3.25rem;
    }

    #ContactForm .fs-picture {
        height: 51.875rem;
        aspect-ratio: initial;
        order: 2;
    }
}

/* ---------- Stats ---------- */

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #ContactStrip {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        position: relative;
        z-index: 1;
    }

    #ContactStrip .fs-stat-group {
        width: 100%;
        max-width: 37.5rem;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
    }

    #ContactStrip .fs-item {
        list-style: none;
        width: 18.125rem;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #ContactStrip .fs-item:hover .fs-picture {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transform: scale(1.1);
    }

    #ContactStrip .fs-picture {
        width: 5rem;
        height: 5rem;
        /* 12px - 20px */
        margin-right: clamp(0.75rem, 3vw, 1.25rem);
        border-radius: 50%;
        border: 1px solid #f6e5db;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        transition:
            background-color 0.3s,
            box-shadow 0.3s,
            transform 0.6s;
    }

    #ContactStrip .fs-flex-group {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    #ContactStrip .fs-icon {
        width: 2.5rem;
        height: auto;
    }

    #ContactStrip .fs-header {
        font-size: 1.25rem;
        color: var(--bodyTextColorWhite);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 0.75rem;
        display: block;
    }

    #ContactStrip .fs-link,
    #ContactStrip .fs-address {
        font-size: var(--bodyTextColor);
        line-height: 1.5em;
        text-decoration: none;
        color: var(--bodyTextColorWhite);
        display: block;
    }

    #ContactStrip .fs-link:hover {
        text-decoration: underline;
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625em) {
    #ContactStrip .fs-stat-group {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.25rem;
        row-gap: 2rem;
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #ContactStrip .fs-stat-group {
        max-width: 80rem;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}

/* ----------Google Maps Iframe---------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #map iframe {
        width: 100%;
        /* 400px - 560px */
        height: clamp(25rem, 42vw, 35rem);
    }
}

/* ---------- FAQ ---------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #ContactFAQ {
        position: relative;
        overflow: hidden;
    }

    #ContactFAQ .fs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 40px - 48px */
        gap: clamp(2.5rem, 5vw, 3rem);
    }

    #ContactFAQ .fs-content {
        text-align: left;
        max-width: 33.8125rem;
        padding: var(--sectionPadding);
        padding-top: 0;
        box-sizing: border-box;
    }

    #ContactFAQ .fs-faq-group {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #ContactFAQ .fs-faq-item {
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        transition: border-bottom 0.3s;
    }

    #ContactFAQ .fs-faq-item.active {
        border-color: var(--primaryLight);
    }

    #ContactFAQ .fs-faq-item.active .fs-button {
        color: var(--primary);
    }

    #ContactFAQ .fs-faq-item.active .fs-button:before {
        background-color: var(--primaryLight);
        transform: rotate(315deg);
    }

    #ContactFAQ .fs-faq-item.active .fs-button:after {
        background-color: var(--primaryLight);
        transform: rotate(-315deg);
    }

    #ContactFAQ .fs-faq-item.active .fs-item-p {
        height: auto;
        /* 20px - 24px bottom */
        padding: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
        opacity: 1;
    }

    #ContactFAQ .fs-button {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* 16px - 24px */
        padding: clamp(1rem, 2.3vw, 1.5rem) 0;
        border: none;
        background: transparent;
        color: var(--headerColor);
        display: block;
        width: 100%;
        position: relative;
        transition:
            background-color 0.3s,
            color 0.3s;
    }

    #ContactFAQ .fs-button:hover {
        cursor: pointer;
    }

    #ContactFAQ .fs-button:before {
        /* left line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 0.25rem;
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
    }

    #ContactFAQ .fs-button:after {
        /* right line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 0.0625rem;
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
    }

    #ContactFAQ .fs-button-text {
        width: 90%;
        display: block;
    }

    #ContactFAQ .fs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        max-width: 33.8125rem;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        color: var(--bodyTextColor);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        transition:
            opacity 0.3s,
            padding-bottom 0.3s;
    }

    #ContactFAQ .fs-picture {
        display: block;
        position: relative;
        width: 100%;
        height: 16rem;
        z-index: 1;
    }

    #ContactFAQ .fs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #ContactFAQ {
        /* moved seciton padding back to the section */
        padding: var(--sectionPadding);
    }

    #ContactFAQ .fs-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #ContactFAQ .fs-picture {
        width: 50%;
        max-width: 40.625rem;
        /* 500px - 750px */
        height: clamp(31.25rem, 68vw, 46.875rem);
        /* sends it to the right in the 2nd position */
        order: 2;
    }

    #ContactFAQ .fs-content {
        width: 55%;
        padding: 0;
    }
}

/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
   
}